footer {
  width: 100vw;
  background-color: #ede6e1;
  display: flex;
  justify-content: center;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem;
  max-width: 80rem;
  padding: 1rem 0;
}
.link {
  color: black;
  font-size: 1.1rem;
  padding-bottom: 5px;
}
